<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>demo_example.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C75F71CB1F90A45D00EB7589</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C75F71E71F90A45E00EB7589</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C75F71F21F90A45E00EB7589</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
